# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# System files
.DS_Store
*.DS_Store

# Downloaded papers and output
papers/*.pdf
output/*.json
output/*.xml

# Log files
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak

#Outputs
papers_missing/
papers/
logs/
/documentation/