# Virtual environment
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.ipynb_checkpoints

# System files
.DS_Store
*.DS_Store

# Downloaded papers and output
papers/*.pdf
output/
output/

# Log files
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak

#Outputs
papers_missing/
papers/
pdfs/
logs/
documentation/
missing_dois/
pending_dois/

# Allow examples folder
!examples/
!examples/**

**.ipynb
working_test.ipynb

##temp
legacy/
extra_logs/
reseted_dois/

#tracker db
processing_tracker.db**
/missing_dois/
/pending_dois/
trackers/backup/
suspicious_dois
supicious_pdfs


demo_output/
demo_papers/